.button{
    cursor: pointer;
    background: transparent;
    border: transparent;
    max-width: 4vw;
    padding: 0;
    img{
        max-width: 4vw;
    }
}

.board {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;

        &:nth-child(odd) .cell:nth-child(even),
        &:nth-child(even) .cell:nth-child(odd) {
            background: #3baacc;
        }
    }
    

    .cell, .snake, .apple {
        width: 50px;
        height: 50px;
    }

    .cell {
        background-color: #7ccbf0;
    }

    .snake {
        background-color: rgb(42, 110, 29);
    }

    .apple {
        background-color: red;
        border-radius: 100%;
    }
}

.modal-container{
    background: linear-gradient(48deg, rgba(93,200,240,1) 0%, rgba(111,123,210,1) 50%, rgba(93,200,255,1) 100%);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal{
        background-color: white;
        max-width: 100%;
        margin-bottom: 10vh;
        padding: 30px 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0.2);
        text-align: center;
    }
}